torch
langdetect==1.0.9
nltk
numpy
pandas
PyYAML==5.4.1
regex==2021.8.28
requests==2.26.0
scikit-learn==0.24.2
scipy==1.7.1
spacy==3.0.7
spacy-legacy==3.0.8
tokenizers==0.10.3
tqdm==4.62.2
scispacy
transformers
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.4.0/en_core_sci_sm-0.4.0.tar.gz
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.4.0/en_ner_bionlp13cg_md-0.4.0.tar.gz
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.4.0/en_core_sci_md-0.4.0.tar.gz 